@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
    width:100%;
}

html, body{
    width:100%;
    overflow-x:hidden;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.thenav{
    height:200px;
    padding:0 !important;
}

.Hi{
    transition:.9s;
    animation:goated .9s 1;
    animation-delay: .49;
}

@keyframes goated{
    0%{
        font-size:10px;
    }

    100%{
        font-size:50px;
    }
}

.myheader{
    margin:0;
    padding:0;
}


.logoimage{
    width:190px !important;
    height:150px !important;
    margin-right: 150px;
}

.thetopdiv{
    background-color: white;
    
}

.navbar-nav a{
    font-size:21px;
    justify-content: space-between;
}

.beginning{
    display:flex;
    justify-content: space-around;
}

.navlink a:hover{
    color:purple !important;
}

.imageofme{
    position:relative;
    top:-50px;
    height:500px;
    width:500px;
    object-fit: contain;
}

h1{
    font-size:50px;
    font-weight:700;
    line-height:98px;
}

.connectbutton{
    text-decoration: none;
    position:relative;
    top:-50px;
    margin-top:100px !important;
    padding:20px 20px !important;
    font-size:10px;
    border-radius:31px;
    font-weight:700;
    color:black;
    height:100px !important;
    width: 100px !important;
    padding: 0;
    border: 2px solid black !important;
    background-color: white;
}

.connectbutton:hover{
    color: black !important;
    background-color: rgb(87, 3, 87) !important;
    transition:.1s;

}

.extrawordss{
    color:rgb(87, 3, 87);
}

.extrawords{
    font-size:30px;
}

.theconnectbutton:hover{
    color:rgb(87, 3, 87);
    background-color: black;
    transition: .2s;
}

.linktags:hover{
    color:rgb(87, 3, 87) !important;
}

.link1{
    color:black !important;
    background-color: white !important;
    font-weight:700 !important;
    padding-top:10px !important;
    border:black !important;
}

.link1:hover{
    color:white !important;
    background-color: rgb(87, 3, 87) !important;
}

.link2{
    color:black !important;
    background-color: white !important;
    font-weight:700 !important;
    padding-top:10px !important;
    border:black !important;

    
}

.link2:hover{
    background-color: rgb(87, 3, 87) !important;
    color:white !important;
}

.card-body{
    display:flex;
}

.linkedinlink{
    text-decoration: underline;
    color:white !important;
}

.linkedinlink a:hover{
    color:rgb(87,3,87) !important;
}

.thalink{
    text-decoration: none !important;
    color:black;
    margin-right:2px;
    margin-bottom:3px;
    object-fit: contain;
    width:100px !important;
    height:20px;
}

.thalink:hover{
    color:blue;
}
.card-body{
    justify-content: space-between;
}


.footerheader{
    background: white;
}


/* Contact page */

.bigheading{
    font-weight:800;
    text-decoration: overline;
    justify-content: center;
    margin-bottom:100px !important;
    color:rgb(87, 3, 87);
}

.invalidCheck{
    margin-left:25px !important;
}

.form-label{
    font-weight:600
}

.input-group-text{
    margin-left:30px !important;
}

.testipara{
    padding:20px;
}

.sendbutton{
    height:40px;
    font-weight:400;
    width:70px;
    border-color:black !important;
    color:black !important;
    background-color: white !important;
    border-radius:10px;
    margin-top:5px;
    position:relative;
    right:-50px;
}

.form{
    
}

.sendbutton:hover{
    color:white !important;
    background-color: rgb(87, 3, 87) !important;
}

.yes{
    margin-left:30px !important;
}

.form-check-label{
    color:black !important;
    border:black !important;
}

/*Testimonial Page*/

.testcolumn{
    height:500px !important;
    width:50% !important;
    border: 4px purple !important;
    margin-bottom:200px;
}

.testcolumn p{
    border: 4px solid purple !important;
    position:relative;
    top:170px;
    font-size:25px;
}

.bigheadings{
    text-decoration: underline;
    font-weight:700;
    color:purple !important;
}

.testcolumn img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.center{
    display:block;
    margin:0;
}

.align-items-center div{
    width:200px;
    height:350px;
    border:2px solid black;
    margin-top:100px;
    margin-right:20px;
    margin-bottom:100px;
}

.blockimages{
    width:400px;
    height:70%;
    object-fit:contain;
}

.bruvanmy1{
    background-image: url(../images/crunchyroll\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy2{
    background-image: url(../images/calendar\ exercise\ bootstrap.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy3{
    background-image: url(../images/demo\ portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy4{
    background-image: url(../images/South\ Park\ Fan\ Page.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy5{
    background-image: url(../images/table\ exercise.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy6{
    background-image: url(../images/animation\ practise.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}

.zebutton{
    position:relative;
    bottom:-320px;
    text-decoration: none;
    color:black;
    border:2px solid black;
    padding: 12px;
    margin-top:8px;
    margin-bottom:20px;
    border-radius:10px;
}

.zebutton:hover{
    color:white;
    background-color: purple;
    border: 2.5px solid black;
}

.zebutton2{
    position:relative;
    bottom:-320px;
    text-decoration: none;
    color:black;
    border:2px solid black;
    padding: 12px;
    border-radius:10px;
}

.zebutton2:hover{
    color:white;
    background-color: purple;
    border: 2.5px solid black;
}

.projectheading{
    color:purple;
    text-decoration: underline;
    font-weight:bold;
    position: relative;
    bottom:40px;
}

.thediv{
    display:flex;
    justify-content: space-between;
}

.thedivs{
    display:flex;
    flex-direction: row-reverse;
}

.aboutcards{
    display:flex;
    justify-content:space-evenly;
}

.img-fluid{
    width:100% !important;
    height:300px !important;
    object-fit: contain;
    display:flex;
    justify-content: center !important;
    margin-top: 150px !important;
    margin-bottom:45px;
}

.thecol{
    width:400px;
}

.animage{
    width: 100% !important;
    height:380px;
    margin-bottom:45px;
    object-fit:cover;
    border:2px solid black;
}

.bigheadingsss{
    color:purple;
    font-weight: bold;
    text-decoration: underline;
}

.texting{
    display:block;
}

.bigheadingss{
    font-weight:700;
    width:850px;
    text-decoration: underline;
    display:flex;
    justify-content: center;
    margin-bottom:5px !important;
    color:rgb(87, 3, 87);
    display:inline-block;
    position:relative;
    right:-32px;
}

.paragraphediting{
    width:100%;
    margin:0;
    font-size:13.5px;
    line-height:58px;
    overflow: hidden;
}

.cardish{
    position: relative;
    display:flex;
    justify-content: space-around;
    top: 50px;
    width: 100vw;
    height: 430px;
    perspective: 1000px;
}
  
.cardishh{
    position: relative;
    display:flex;
    justify-content: space-around;
    top: 50px;
    width: 100vw;
    height: 120px;
    perspective: 1000px;
}
.insideofthecard{
    position: relative;
    width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.insideofthecard:hover{
    transform: rotateY(180deg);
  }
  
.cardimg{
    width: 300px;
    height: 400px;
    background-color: blue;
  }
  
.front,
.back{
    position: absolute;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
  }
  
.back{
    background-color: rgb(168, 162, 162);
    color: rgb(55, 0, 55);
    transform: rotateY(180deg);
}

.back p{
    line-height:50px;
}
  
.checked{
    color:rgb(214, 0, 214);
}
  
  
  
.cardheading{
    text-decoration:underline;
    font-weight:600;
}

.skilllevel{
    font-weight: bold;
    position:relative;
    right:-5px;
}

.bigheadingss1{
    color:purple;
    font-weight: bold;
    text-decoration: underline;

}
  
/* Media Queries */
@media (max-width:528px){
    .hoya{
        width:100vw;
        display:block;
    }
    .thefooter{
        width:100vw !important;
        display:block !important;
    }

    .fa-envelope{
        position: relative;
        left:-75px;
    }

    .linkedinlink{
        height:10px !important;
        width:10px !important;
    }
    .card-text{
        font-size:10px;
        visibility: hidden;
    }

    .card-title{
        visibility: hidden;
    }

    .fa-linkedin{
        width:10px;
        height:10px;
        
    }

    .footerclass{
        display:block;
    }
}

@media (max-width:429px){
    .imageofme{
        position:relative;
        left:-50px;
    }

    .paragraphediting{
        line-height: 15px;
        
    }
}

@media (max-width:436px){
    .bigheading{
        position:relative;
        top:100px;
    }
}

@media (max-width:380px){
    .imageofme{
        position:relative;
        left:-75px
    }
}

@media (max-width:767px){
    .paragraphediting{
        line-height:20px;
    }
}

}
    

@media screen and (max-width:1400px){
    .animage{
        width:70% !important;
    }

    .haibo{
        flex-wrap:nowrap;
    }

    p .paragraphediting{
        width:50%;
    }

    .thecol{
        width:50% !important;
    }
    .up{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:429px){
    .bigheadingss{
        width:100vw;
    }
}

@media (max-width:429px){
    .bigheadingss{
        width:100%;
        font-size:100px !important;
    }
}

@media (max-width:597px){
    .paragraphediting{
        line-height:20px;
        margin-bottom:10px;
    }

    .animage{
        margin-bottom:10px;
    }
}