@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
    width:100%;
}

html, body{
    width:100%;
    overflow-x:hidden;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.thenav{
    height:200px;
    padding:0 !important;
}



.myheader{
    margin:0;
    padding:0;
}

@keyframes growtheletters{
    from{
        font-size:10px !important;
        padding:0 !important;
    }
    to{
        font-size:20px !important;
    }
}


.logoimage{
    width:190px !important;
    height:150px !important;
    margin-right: 150px;
}

.thetopdiv{
    background-color: white;
    
}

.navbar-nav a{
    font-size:21px;
    justify-content: space-between;
}

.beginning{
    display:flex;
    justify-content: space-around;
}

.navlink a:hover{
    color:purple !important;
}

.imageofme{
    position:relative;
    top:50px;
    margin-bottom:50px;
    height:500px;
    width:500px;
    object-fit: contain;

}

h1{
    font-size:40px;
    font-weight:700;
    line-height:85px;
}

.connectbutton{
    text-decoration: none;
    position:relative;
    top:-10px;
    margin-top:100px !important;
    padding:20px 20px !important;
    font-size:10px;
    border-radius:31px;
    font-weight:700;
    color:black;
    height:100px !important;
    width: 100px !important;
    padding: 0;
    border: 2px solid black !important;
    background-color: white;
}

dt{
    color:rgb(87, 3, 87);
}

dl{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.connectbutton:hover{
    color: white !important;
    background-color: rgb(87, 3, 87) !important;
    transition:.1s;

}


.extrawordss{
    color:rgb(87, 3, 87);
}

.extrawords{
    font-size:44px;
}

.theconnectbutton:hover{
    color:rgb(87, 3, 87);
    background-color: black;
    transition: .2s;
}

.linktags:hover{
    color:rgb(87, 3, 87) !important;
}

.link1{
    color:black !important;
    background-color: white !important;
    font-weight:700 !important;
    padding-top:10px !important;
    border:black !important;
    animation: wobbleforme infinite 1.5s both;
}

.link1:hover{
    color:white !important;
    background-color: rgb(87, 3, 87) !important;
}

.link2{
    color:black !important;
    background-color: white !important;
    font-weight:700 !important;
    padding-top:10px !important;
    border:black !important;
    animation: wobbleforme infinite 1.5s both;

    
}

.link2:hover{
    background-color: rgb(87, 3, 87) !important;
    color:white !important;
}

.card-body{
    display:flex;
}

.linkedinlink{
    text-decoration: underline;
    color:white !important;
    animation: wobbleforme infinite 1.5s both;
}

.linkedinlink a:hover{
    color:rgb(87,3,87) !important;
}

.thalink{
    text-decoration: none !important;
    color:black;
    margin-right:2px;
    margin-bottom:3px;
    object-fit: contain;
    width:100px !important;
    height:20px;
}

.thalink:hover{
    color:blue;
}
.card-body{
    justify-content: space-between;
}


.footerheader{
    background: white;
}


/* Contact page */

.bigheading{
    font-weight:800;
    text-decoration: overline;
    justify-content: center;
    margin-bottom:100px !important;
    color:rgb(87, 3, 87);
}

.invalidCheck{
    margin-left:25px !important;
}

.form-label{
    font-weight:600
}

.input-group-text{
    margin-left:30px !important;
}

.testipara{
    padding:20px;
}

.sendbutton{
    height:40px;
    font-weight:400;
    width:70px;
    border-color:black !important;
    color:black !important;
    background-color: white !important;
    border-radius:10px;
    margin-top:5px;
    justify-content: center !important;
}

#exampleFormControlTextarea1{
    width:100vw;
}

#messagebox{
    width:100vw;
}

#inputGroupPrepend{
    border:2px solid black;
}

#form{
    display:flex !important;
    justify-content: center;
    text-align: center;
}

#form input{
    border:2px solid black;
}

#form .form-control{
    border: 2px solid black;
}

form .col-md-4{
    justify-content: center !important;
}

.sendbutton:hover{
    color:white !important;
    background-color: rgb(87, 3, 87) !important;
}

.yes{
    margin-left:30px !important;
}

.form-check-label{
    color:black !important;
    border:black !important;
}

/*Testimonial Page*/

.testcolumn{
    height:500px !important;
    width:50% !important;
    border: 4px purple !important;
    margin-bottom:200px;
}

.testcolumn p{
    border: 4px solid purple !important;
    position:relative;
    top:170px;
    font-size:25px;
}

.bigheadings{
    text-decoration: underline;
    font-weight:700;
    color:purple !important;
}

.testcolumn img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.center{
    display:block;
    margin:0;
}

.align-items-center div{
    width:100%;
    height:350px;
    border:2px solid black;
    margin-top:100px;
    margin-right:20px;
    margin-bottom:100px;
}

.blockimages{
    width:400px;
    height:70%;
    object-fit:contain;
}

.bruvanmy1{
    background-image: url(../images/crunchyroll\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy2{
    background-image: url(../images/calendar\ exercise\ bootstrap.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy3{
    background-image: url(../images/demo\ portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy4{
    background-image: url(../images/South\ Park\ Fan\ Page.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy5{
    background-image: url(../images/table\ exercise.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}
.bruvanmy6{
    background-image: url(../images/animation\ practise.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:4px solid black !important;
}

.zebutton{
    position:relative;
    bottom:-320px;
    text-decoration: none;
    color:black;
    border:2px solid black;
    padding: 12px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
}

.zebutton:hover{
    color:white;
    background-color: purple;
    border: 2.5px solid black;
}

.paragraphediting2{
    height:100%;
}

.zebutton2{
    position:relative;
    bottom:-320px;
    margin-bottom:4rem !important;
    text-decoration: none;
    color:black;
    border:2px solid black;
    padding: 12px;
    border-radius:10px;
}

.zebutton2:hover{
    color:white;
    background-color: purple;
    border: 2.5px solid black;
}

.projectheading{
    color:purple;
    text-decoration: underline;
    font-weight:bold;
    position: relative;
    bottom:40px;
}

.thediv{
    display:flex;
    justify-content: space-between;
}

.thedivs{
    display:flex;
    flex-direction: row-reverse;
}

.aboutcards{
    display:flex;
    justify-content:space-evenly;
}

.img-fluid{
    width:100% !important;
    height:300px !important;
    object-fit: contain;
    display:flex;
    justify-content: center !important;
    margin-top: 150px !important;
    margin-bottom:45px;
}

.thecol{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.animage{
    width: 100% !important;
    height:380px;
    margin-bottom:45px;
    object-fit:cover;
    border:2px solid black;
}

.animage2{
    width: 100% !important;
    height:380px;
    margin-bottom:45px;
    object-fit:cover;
    border:2px solid black;
}

.bigheadingsss{
    color:purple;
    font-weight: bold;
    text-decoration: underline;
}

.texting{
    display:block;
}



.bigheadingss{
    font-weight:700;
    width:50vw;
    text-decoration: underline;
    display:flex;
    flex-direction: column !important;
    margin-bottom:5px !important;
    color:rgb(87, 3, 87);
    display:inline-block;
    position:relative;
    right:-32px;
}

.yebo{
    margin-bottom:3rem !important;
}

.paragraphediting{
    width:100%;
    margin:0;
    justify-content: center;
    font-size:var(--bs-body-font-size);
    line-height:58px;
    overflow: hidden;
}

 @keyframes wobbleforme {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

.cardish{
    position: relative;
    display:flex;
    justify-content: space-around;
    top: 50px;
    width: 100vw;
    height: 430px;
    perspective: 1000px;
}

.align-items-center{
    height:35rem !important;
}

#exampleFormControlTextarea1{
    width:99vw !important;
}

.thanks{
    margin-left:0 !important;
}

#inputGroupPrepend{
    margin-left:0 !important;
}

.cardpara{
    line-height:1.5rem !important;
}
  
.cardishh{
    position: relative;
    display:flex;
    justify-content: space-around;
    top: 50px;
    width: 100vw;
    height: 120px;
    perspective: 1000px;
}
.insideofthecard{
    position: relative;
    width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.insideofthecard:hover{
    transform: rotateY(180deg);
}
  
.cardimg{
    width: 300px;
    height: 400px;
    background-color: blue;
}
  
.front,
.back{
    position: absolute;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
}
  
.back{
    background-color: rgb(168, 162, 162);
    color: rgb(55, 0, 55);
    transform: rotateY(180deg);
}

.back p{
    line-height:50px;
}
  
.checked{
    color:rgb(214, 0, 214);
}
  
  
  
.cardheading{
    text-decoration:underline;
    font-weight:600;
}

.skilllevel{
    font-weight: bold;
    position:relative;
    right:-5px;
}

.bigheadingss1{
    color:purple;
    font-weight: bold;
    text-decoration: underline;

}
  
/* Media Queries */
@media (max-width:528px){
    .hoya{
        width:100vw;
        display:block;
    }
    .thefooter{
        width:100vw !important;
        display:block !important;
    }

    .fa-envelope{
        position: relative;
        left:-75px;
    }

    .linkedinlink{
        height:10px !important;
        width:10px !important;
    }
    .card-text{
        font-size:10px;
        visibility: hidden;
    }

    .card-title{
        visibility: hidden;
    }

    .fa-linkedin{
        width:10px;
        height:10px;
        
    }

    .footerclass{
        display:block;
    }
}

@media (max-width:429px){
    .imageofme{
        position:relative;
        left:-50px;
    }

    .paragraphediting{
        line-height: 15px;
    }

    .bigheadingss{
        font-size:1rem;
    }
}

@media (max-width:462px){
    .align-items-center{
        height:100px !important;
        justify-content: space-around;
    }

    .bigheading{
        margin:0 !important;
    }

    .bruvanmy1{
        width:20vw !important;
        height:10rem !important;
    }
    .bruvanmy2{
        width:3rem !important;
        height:10rem !important;
    }
    .bruvanmy3{
        width:3rem !important;
        height:10rem !important;
    }
    .bruvanmy4{
        width:3rem !important;
        height:10rem !important;
    }
    .bruvanmy5{
        width:3rem !important;
        height:10rem !important;
    }
    .bruvanmy6{
        width:3rem !important;
        height:10rem !important;
    }
}

@media (max-width:436px){
    .bigheading{
        position:relative;
        top:100px;
        justify-content: center;
    }
}

@media (max-width:380px){
    .imageofme{
        position:relative;
        left:-75px
    }
}

@media (max-width:767px){
    .paragraphediting{
        line-height:20px;
    }
}


    

@media screen and (max-width:1400px){
    .animage{
        width:100% !important;
        justify-content: center;
    }

    .haibo{
    flex-wrap: wrap;
    flex-direction: row;
    
    }

    p .paragraphediting{
        width:50%;
        justify-content: center;
    }

    .thecol{
        width:50% !important;
    }
    .up{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:429px){
    .bigheadingss{
        width:100vw;
    }
}

@media (max-width:429px){
    .bigheadingss{
        width:100%;
        font-size:50px !important;
    }
}

@media (max-width:597px){
    .paragraphediting{
        line-height:20px;
        margin-bottom:10px;
    }

    .animage{
        margin-bottom:10px;
    }
}

@media (max-width:992px){
    .paragraphediting{
        line-height: 2rem;
        width:40rem;
    }

    .animage{
        width:100vw !important;
    }
}

@media (mmax-width:721px){
    .cardpara{
        line-height:15px !important;
    }
}

@media (max-width:768px){
    .paragraphediting{
        position:relative;
        left:-.5rem;
    }

    .animage{
        position:relative;
        left:-9.9rem;
        justify-content: center;
    }

    .up{
        position:relative;
        right:-10rem !important;
    }

    .bigheadingss{
        position:relative;
        left:-.5rem !important;
        justify-content: center;
        font-size:1.2rem;
    }

    .cardimg{
        width:15rem;
        height:25rem;
        justify-content: space-around;
    }

    .cardheading p{
        font-size:.5rem;
        line-height:.3rem;
    }

    .back{
        width:15rem;
        height:25rem;
        justify-content: space-around;
    }
}

@media (max-width:992px){
    .testipara{
        font-size:1rem !important;
    }
}

@media (max-width:489px){
    .testipara{
        font-size:.8rem !important;
    }
}

@media (max-width:382px){
    .testipara{
        font-size:.6rem !important;
    }
}
@media (max-width:279px){
    .testipara{
        font-size:.5rem !important;
    }
}

@media (max-width:1400px){
    .projectheading{
        top:-5rem !important;
    }
}

@media (max-width:768px){
    .projectheading{
        top:-6rem !important;
    }

    .bruvanmy1{
        width:100% !important;
    }
}

@media (max-width:321px){
    .align-items-center{
        margin:0rem !important;
        height:1450px;
    }

    .zebutton{
        margin:0 !important;
    }

    
    .projectheading{
        
    }
    
    .bruvanmy1{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy2{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy3{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy4{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy5{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy6{
        margin: 0 0 !important;
        width:100% !important;
    }
    .zebutton{
        margin:0 !important;
    }
    .zebutton2{
        margin:0 !important;
    }
}

@media (max-width:462px){
    .bruvanmy1{
        margin: 5rem !important;
        width:100% !important;
    }

    .align-items-center{
        margin:0rem !important;
        height:80rem !important;
    }
}

@media (max-width:769px){
    .bruvanmy1{
        margin: 0 !important;
        width:100% !important;
    }

    .align-items-center{
        margin:0rem !important;
        height:50rem;
    }

    .zebutton{
        margin:0 !important;
    }

    
    .projectheading{
        
    }
    
    .bruvanmy1{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy2{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy3{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy4{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy5{
        margin: 0 0 !important;
        width:100% !important;
    }
    .bruvanmy6{
        margin: 0 0 !important;
        width:100% !important;
    }
    .zebutton{
        margin:0 !important;
    }
    .zebutton2{
        margin:0 !important;
    }


}

@media (max-width:481px){
    .align-items-center{
        flex-wrap:nowrap;
    }
}

@media (max-width:706px){
    .animage{
        flex-wrap:wrap;
        justify-content: center;
    }

    .paragraphediting{
        flex-wrap:wrap;
        justify-content: center;
    }
}

@media (max-width:769px){
    .paragraphediting2{
        font-size:.8rem;
    }
}

@media (max-width:720px){
    .cardimg{
        width:13rem;
        height:25rem;
    }

    .back{
        width:13rem;
        height:25rem;
    }
}

@media (max-width:640px) and (min-width:429px){
    .paragraphediting{
        width:100vw;
    }

    .cardimg{
        justify-content: center;
    }

    .front{
        justify-content: center;
        width:.1rem;
    }

    .col .paragraphediting{
        width:100%;
    }

    .back{
        justify-content: center;
    }
}

@media (max-width:429px){
    .bigheadingss{
        font-size:2rem !important;
    }

    .paragraphediting{
        width:100%;
    }
    
}

@media (max-width:641px){

    .front{
        width:100% !important;
        height:100% !important;
    }

    .back{
        width:100% !important;
        height:93% !important;
        line-height:10px !important;
    }


    .cardpara{
        line-height: 15px !important;
        font-size:10px !important;
        width:100% !important;
        height:100% !important;
    }
    .insideofthecard{
        width:100% !important;
        height:100% !important;
    }
}

@media (max-width:768px){
    .yes{
        margin-left:0 !important;
    }

    #inputGroupPrepend{
        margin-left:0 !important;
    }
}

